include ../../modules/title/mixin
- var massive = ["Рассчёт предварительной заявки","Замер объекта нашим инженером","Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы ","Изготовление Дымохода, покраска (если требуется)","Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация","Гарантийное обслуживание по соответствующем сроку"]

div.part
    +content("Процесс выполнения монтажа", "")
    ul.mounting
        each val, index in massive
            li.mounting__item
                span.mounting__number= index + 1
                p.mounting__text= val