.video-block {
  display: flex;
  justify-content: center;
  position: relative;
  .fone-1 {
    position: absolute;
    top: 150px;
    right: 700px;
    z-index: 0;
    .group-1 {
      position: absolute;
      bottom: 2px;
      left: 70px;
      z-index: 0;
    }
  }
  .videoplayer {
    display: flex;
    margin-top: 100px;
    height: 438px;
    width: 770px;
    padding: 0px 10px;
    z-index: 1;
  }
  .fone-2 {
    position: absolute;
    top: 70px;
    right: 0px;
    z-index: 0;
    .group-2 {
      position: absolute;
      top: -20px;
      right: 80px;
      z-index: 0;
    }
  }
}

@media (max-width: 768px) {
  .video-block {
    .fone-1 {
      display: none;
    }
    .fone-2 {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .video-block {
    .videoplayer {
      height: 300px;
      max-width: 600px;
    }
  }
}
