include ../../modules/title/mixin

div.part
    +content("Видео об установке")
    div.video-block
        div.fone-1
            include ../../svg/videoicon/blob.svg
            div.group-1 
                include ../../svg/videoicon/group.svg
        <iframe class="videoplayer" src="https://www.youtube.com/embed/UNREuwdJCw0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        div.fone-2
            include ../../svg/videoicon/blobbig.svg
            div.group-2 
                include ../../svg/videoicon/group.svg
