.footer {
  height: 350px;
  max-width: 1920px;
  background: #0c2f33;
  border: 1px solid rgba(255, 255, 255, 0);
  .container {
    display: flex;
    justify-content: space-around;
    margin: 88px 251px;
    .footer__block {
      display: flex;
      flex-direction: column;
      height: 170px;
      min-width: 333px;
      .footer__title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #ffffff;
        margin-bottom: 18px;
      }
      .footer__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
      }
      .footer__item {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        margin-bottom: 19px;
      }
      .footer__work {
        display: inline-block;
        margin-bottom: 18px;
        .footer__time {
          color: #ffffff;
          .footer__days {
            color: #4c858b;
          }
        }
        .footer__address {
          display: inline-block;
          font-family: "Montserrat";
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #ffffff;
        }
      }
      .footer__net {
        margin-top: 10px;
        .footer__network {
          text-decoration: none;
          margin-right: 36px;
        }
      }
    }
    .footer__net-for-tel {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    height: 70px;
    max-width: 768px;
    .container {
      margin: 20px 0px;
      .footer__block {
        display: none;
      }
      .footer__net-for-tel {
        display: block;
        .footer__net-link {
          text-decoration: none;
          margin-left: 36px;
        }
      }
    }
  }
}
