.part {
  display: flex;
  flex-direction: column;
  max-width: 1220px;
  margin: 0 auto;
  margin-bottom: 136px;
}

.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 48px;
}

@media (max-width: 768px) {
  .part {
    margin-bottom: 56px;
  }
  .work {
    justify-content: start;
    margin-top: 48px;
    margin: 0px 20px;
  }
  .work__photo {
    height: 208px;
    width: 226px;
  }
}

@media (max-width: 500px) {
  .work__photo {
    height: 120px;
    width: 130px;
  }
}
